/* Header Section */
.header {
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    background-color: var(--background);
    color: var(--foreground);
    display: flex;
    justify-content: center;
    flex-grow: 1;
    position: 'sticky';
    top: 0;
    z-index: 1100;
}

/* Navigation Bar */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
}

.navImg {
    margin-right: 4rem;
}

/* Navigation Items */
.navLink {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 0.3rem;
    text-decoration: none;
    color: var(--foreground);
    padding: 0.5rem 1rem;
}
.dropIcon {
  font-size: 1.2rem;          /* icon size control */
  line-height: 1;    
  margin-top: 5px;         /* perfect centering */
}

.navitem ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navitem ul li {
    text-decoration: none;
    text-transform: uppercase;
}

.navitem ul li a {
    text-decoration: none;
    /* color: var(--foreground); */
    color: #444444;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    padding: 7px 20px;
    border-radius: 20px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    display: inline-block;
}

.navitem ul li a:hover {
    border-color: gray;
    background-color: rgba(255, 255, 255, 0.1);
}

.navInput {
    width: 20rem;
    height: 3rem;
    display: flex;
    align-items: center;
    border: 1px solid gray;
    border-radius: 50px;
    /* pill shape */
    background-color: #F3F3F3;
    /* light bg */
    padding: 0 1.5rem;
    margin-left: 8rem;
}

.navInput input {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
    color: #333;
}

.navInput .searchIcon {
    font-size: 24px;
    color: gray;
    cursor: pointer;
}

.navIcons {
    /* width: 100%; */
    display: flex;
    align-items: center;
    /* gap: 0rem; */
    font-size: 1.2rem;
    color: var(--foreground);
    cursor: pointer;
}