
/* infoHighlights */

.infoHighlights {
     background: #f9f9f9;
    margin-bottom: 15px;
    padding: 5px 100px 26px 100px;
    font-family: Noto Sans, sans-serif;
    font-size: 16px;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
}

.infoGrid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  text-align: center;
}

.infoItem {
  flex: 1 1 18%;
  min-width: 180px;
  padding: 15px;
}

.infoItem img {
  width: 60px;
  height: auto;
  margin-bottom: 10px;
}

.infoItem h4 {
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0 5px;
  color: #333;
}

.infoItem p {
  font-size: 14px;
  color: #555;
}

